<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<h1>Edit this User</h1>
<hr>
<form method="post" th:action="@{/updateUser}">

  <input type="hidden" th:value="${user.getId()}" name="id">
  Username:<input type="text" th:value="${user.getUsername()}" name="username" required><br><br>
  Email:<input type="email" th:value="${user.getEmail()}" name="email" required><br><br>

  <input type="submit" value="Save Changes">

</form>

</body>
</html>
