<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<h1>This is gallery page.</h1>
<hr>
Upload your image:
<form method="post" action="gallery" enctype="multipart/form-data">

    <input type="file" name="image">
    <input type="submit" value="UPLOAD IMAGE">

</form>

<hr>
<h4>Images from TIDB:</h4> <br><br>

<span th:each="image:${session.totalImages}">
    <img th:src="'data:image/jpeg;base64,'+${image.getImage()}"    style="width:40%" >
</span>


</body>
</html>